<h2>Tabla de autos</h2>
<% if (length) { %>
    <table>
        <tr>
            <th>Marca y modelo</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        <% productos.forEach(prod => { %>
            <tr>
                <td><%=prod.titulo%></td>
                <td><%=prod.precio%></td>
                <td><img src=<%=prod.imagen%> border="3" height="150" width="300"></img></td>
            </tr>
        <% }) %>
<% } else { %>
    <h3>No se han encontrado productos</h3>
<% } %>
<form method="post">
    <button type="submit">Volver al inicio</button>
</form>